:root{

    --color-orage-buttons: #FC9B29;
    --color-background-in-white: #FFFFFF;
    --color-background-in-black: #000000;
    --color-shadows-pictures-box:  #666666;
    --color-text-price-primary: #FFBC11;
    --color-text-description: #000000;
    --color-text-buttons:#FFFFFF;

    font-size: 60%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}