@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



.banner-container{
    background: url('/images/banner.jpg') no-repeat;
    background-size: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spot-title{
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px;
}

.banner-container span{
    font-size: 10rem;
    color: var(--color-background-in-white);
    text-shadow: 0.1rem 0.11rem rgba(0, 0, 0, 0.2);
    

}

.banner-container span + span{
    padding-top: 8rem;
    font-size: 3rem;
}

.product-catalog{
    background-color: var(--color-background-in-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
}

.product-container{
    background-color: var(--color-background-in-white);
    margin: 1.0rem;
    padding: 1.6rem;
}

.product-container:hover .p-title, 
.product-container:hover .p-parcels, 
.product-container:hover .p-price{
    text-decoration-line: underline;
}

.product-container .p-image{
    transition: opacity 0.3s;
}

.product-container:hover .p-image{
    opacity: 0.9;
}

.product-container .product-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.2rem;
}

.product-container .product-text .p-title{
    font-size: 1.6rem ;
    color: var(--color-text-description);
}

.product-container .product-text .p-parcels{
    font-size: 1.8rem;
    font-weight: 500;
}

.product-container .product-text .p-price{
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--color-text-price-primary);
}

