@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



main {
    width: 100vw;
    height: 90vh;
    background-color: var(--color-background-in-grey);
    flex-wrap: wrap;
    padding: 0 70px;
}

main div#primeira_parte h2#indentifica{
    margin-left: 4.8rem;
    padding-top: 4rem;
    font-size: 3rem;
}

main div#segunda_parte{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cadastrar entrar" ;
    gap: 20px;
}

main div#segunda_parte section#cadastrar h2{
    grid-area: cadastrar; 
    margin-left: 4.8rem;
    padding-top: 4rem;
    font-size: 2.8rem;
}

main div#segunda_parte section#entrar{
    border-left: 2px solid var(--color-shadows-pictures-box);
    padding-left: 80px;
}

main div#segunda_parte section#entrar h2{
    grid-area: entrar;
    padding-top: 4rem;
    font-size: 2.8rem;
}

main div#segunda_parte section#cadastrar form {
    grid-area: cadastrar;
    padding-top: 1.6rem;
    padding-left: 4.8rem;
    height: 300px;

}

main div#segunda_parte section#cadastrar form input{
    margin-top: 1.6rem;
    background-color: var(white);
    border-radius: 0.6rem;
    border: 1px solid black;
    font-size:16px;
    width:480px;
    height: 40px;
    padding: 0 2rem;
    cursor: pointer;
}

main div#segunda_parte section#cadastrar form button{
    margin-top: 6rem;
    margin-left: 130px;
    height: 60px;
    width: 45%;
    color: var(--color-text-buttons);
    font-size: 2.6rem;
    background-color: var(--color-orange-buttons);

    border-radius: 0.6rem;
    border: none;

    box-shadow: 2px 2px 2px var(--color-shadows-pictures-box);

    cursor: pointer;
}

/* Já sou cliente */

main div#segunda_parte section#entrar form {
    grid-area: cadastrar;
    padding-top: 1.6rem;
    height: 320px;

}

main div#segunda_parte section#entrar form input{
    margin-top: 1.6rem;
    background-color: var(white);
    border-radius: 0.6rem;
    border: 1px solid black;
    font-size:16px;
    width:480px;
    height: 40px;
    padding: 0 2rem;
    cursor: pointer;
}

main div#segunda_parte section#entrar form h1#text_senha {
    margin-top: 30px;
} 

main div#segunda_parte section#entrar form button{

    margin-top: 6rem;
    margin-left: 130px;
    height: 60px;
    width: 45%;
    color: var(--color-text-buttons);
    font-size: 2.6rem;
    background-color: var(--color-orange-buttons);

    border-radius: 0.6rem;
    border: none;

    box-shadow: 2px 2px 2px var(--color-shadows-pictures-box);

    cursor: pointer;
}

main div#segunda_parte section#entrar h3{
    margin-top: 30px;
    text-align: center;
}


