.product-contrast{
  display: flex;
  justify-content: space-between;
  margin: 0px 70px;
  border-bottom: 1px solid var(--color-shadows-pictures-box);
}

.product-contrast .picture-container{
  display: flex;
  justify-content: flex-start;
}

.product-contrast .picture-container .small-picture{
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.product-contrast .picture-container .small-picture img + img
{
  padding-top: 1.6rem;
}

.product-contrast .picture-container .big-picture{
  padding: 1.6rem 0;
}

.product-contrast .product-information{
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem 0;
}

.product-contrast .product-information h1{
  font-size: 3.6rem;
}

.product-contrast .product-information p{
  font-size: 1.6rem;
  color: var(--color-shadows-pictures-box);
}

.product-contrast .product-information label{
  font-size: 1.8rem;
}

.product-contrast .product-information .check-size-container{
  display: flex;
}

.product-contrast .product-information .check-size{
  margin-right: 10px;
}

.product-contrast .product-information .check-size + .check-size{
  border-left: 1px solid black;
  padding-left: 5px;

}

.product-contrast .product-information .check-size #check{
  width: 2rem;
  height: 3rem;

}

.product-contrast .product-information .check-size #check:checked{
  background: var(--color-orange-buttons)
}


.product-contrast .product-information .check-size label{
  left: 0;
  font-size: 1.6rem;
}

.product-contrast .product-information .prices{
  display: flex;
  flex-direction: column;
}
.product-contrast .product-information .prices .product-parcels{
  font-weight: bold;
  font-size: 1.6rem;
}

.product-contrast .product-information .prices .product-price{
  font-size: 5rem ;
  color: var(--color-text-price-primary)
}

.product-contrast .product-information a{
  width: 100%;

}

.product-contrast .product-information .buy-button{
  height: 6rem;
  width: 100%;
  border: 0;
  background-color: var(--color-orange-buttons);
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--color-text-buttons);
  border-radius: 10px;
  box-shadow: 0px 0.2px 2px var(--color-shadow-black);
  cursor: pointer;
  transition: opacity 0.3s;
}
.product-contrast .product-information .buy-button:hover{
  opacity: 0.8;

}

.related-products,
.product-description{
  margin: 0 70px;
}

.product-description{
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-description h1{
  font-size: 2.6rem;
}

.product-description p{
  padding-top: 10px;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-text-grey);
}



.related-products h1{
  margin-top: 30px;
  font-size: 2.6rem;
}

.product-catalog{
  padding: 0;
  background: white;
}