
header div#half-up{
    height: 90px;
    background-color: var( --color-backgroud-in-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 70px;
}

header div#half-up img#logo{
    width: 200px;
}

header div#half-up div.search-space input#textSearch{

    background-color: var(--color-background-in-white-focus);
    font-size:18px;
    border: 0;
    border-radius: 1.6rem;
    height:40px;
    width:400px;

    padding-left: 5rem;

    cursor: pointer;
}

header div#half-up div.search-space input#textSearch:focus{
    background-color: var(--color-background-in-white-focus);
    border:1px solid black;
    outline: 0;
}

header div.links-user-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
}


header div#half-low{
    width: 100vw;
    height: 60px;
    background-color: var( --color-background-in-black);
}

header div#half-low ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 70px;
}

header div#half-low img#menu{
    width: 50px;
    height: 50px;
}

header div#half-low ol li {
    list-style: none;
}

header div#half-low ol li p{
    font-family: 'Roboto', sans-serif;
    color: var(--color-background-in-white);
    font-size: 2.0rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--color-background-in-black);
}

footer div.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

footer div.text-container div.texting p{
    color: var(--color-background-in-white);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
}

footer div.socials-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 70px;
    padding-bottom: 2rem;
}